@using blazor_wasm_todo.Models

<div class="alert alert-secondary">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <input class="m-1" type="checkbox" @bind="@Note.IsDone" />
            @if (Note.IsDone)
            {
                <strike>@Note.Title</strike>
            }
            else
            {
                @Note.Title
            }
        </div>

        <button class="close" @onclick="RemoveClick">
            <span>&times;</span>
        </button>
    </div>
</div>

@code {

    [Parameter]
    public Note Note { get; set; }

    [Parameter]
    public EventCallback<Guid> OnRemoved { get; set; }


    public async Task RemoveClick(EventArgs e)
    {
        await OnRemoved.InvokeAsync(Note.Guid);
    }
}
